
h1{
  color:#0000ff;
  text-align:center;
  }
  .important{
  float:inherit;
  background-color:blue;
  font-size: 80;
  font-style: italic;
  font-family: sans-serif;
}
.font p{
  font-family: fantasy;
  color:red;
  font-size: 20px;
}

.center {
  float:right;
  background-color:purple:
}
.p a{
  font-size: 30;
  background-color:red;
}
.myboxmodel {
  margin: 5px;
  border: 10px solid black;
  padding: 15px;
  background-color: lightgray;
}
